Source: spead2
Section: science
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends: debhelper (>=11),
               dh-autoreconf,
               dh-python,
               pkg-config,
               pybind11-dev (>=2.6.2~),
               python3-all,
               python3-setuptools,
               python3-dev,
               python3-distutils,
               python3-six,
               python3-numpy,
               python3-pybind11,
               python3-netifaces,
               python3-pytest,
               python3-decorator,
               python3-pycparser,
               python3-pybind11,
               libibverbs-dev,
               librdmacm-dev,
               libpcap-dev,
               libboost-dev,
               libboost-all-dev,
               libboost-program-options-dev,
               libboost-system-dev,
Standards-Version: 4.5.0
Homepage: https://github.com/ska-sa/spead2
X-Python3-Version: >= 3.6

Package: python3-spead2
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends},
 libpcap0.8,
 python3-six,
 python3-numpy,
 python3-netifaces,
 python3-nose,
 python3-decorator
Description: Streaming Protocol for Exchange of Astronomical Data (python 3)
 spead2 is an implementation of the SPEAD protocol, with both Python and C++
 bindings. The 2 in the name indicates that this is a new implementation of the
 protocol; the protocol remains essentially the same. 

Package: spead2
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}, python3-spead2
Description: Streaming Protocol for Exchange of Astronomical Data
 spead2 is an implementation of the SPEAD protocol, with both Python and C++
 bindings. The 2 in the name indicates that this is a new implementation of the
 protocol; the protocol remains essentially the same. 
